/* Removing margins for the body */
body{
  margin: 0px;
}

/* Top Navigation */
.topnav{
  background-color: #ffffff;
  overflow: hidden;
  border-bottom: 10px solid #FC6F76;
  font-family: 'Avenir-Medium';
}

.topnav a {
  float: left; 
  color: #2B2B2B;
  text-align: left;
  padding: 20px 10px;
  padding-bottom: 6px;
  margin-left: 40px;
  text-decoration: none;
  font-size: 22px;
}

/* Hover state */
.topnav a:hover{
  color: #FC6F76;
}

/* Active link*/
.topnav a.active{
  background-color: #ffffff;
  color: #2B2B2B;
  border-bottom: 10px solid #A1DFC6;
}

.topnav a.active2{
  background-color: #ffffff;
  color: #2B2B2B;
  border-bottom: 10px solid #A1DFC6;
  margin-top:38px;
}

.centernav{
  margin-top: 18px;
}

/* Active link*/
.cartonside {
  margin-top: 6px;
}

svg:hover {
  fill:#FC6F76;
}


/* No hover for glazing svg */
.noHover{
    pointer-events: none;
    color: #ffffff;
}

/* glazing */
#colorDiv {
  width: 270px;
  fill: None;
  padding-left:180px;
  margin-top:20px;
  margin-bottom:-240px;
  position:relative;
  opacity: 0.6;
}


/* Background image for homepage top */
.hero-image {
  background-image:url("img/BackgroundImage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 700px;
}


/* Type for homepage top part */
.type1{
  font-family: 'Stalemate', cursive;
  font-weight:1000;
  font-size: 50px;
  line-height:1.1;
  font-style:normal;
  color: #2B2B2B;
}

/* Padding for homepage text*/
.padding1 {
  padding-top: 90px;
  margin-left: 700px;
}

/* Padding for button on homepage */
.padding2 {
  margin-left: 700px;
}

/* Button 1: Pink turns green on hover*/

.button1{
  background-color: #FC6F76; 
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-family: 'Avenir-Medium';
  font-size:25px;
  color: white;
  border: double;
  border-width: 10px;
  text-decoration: none;
}

.button1:hover {
  background-color: #A1DFC6; 
}


/* Button 2: Green turns pink on hover*/

.button2{
  background-color: #A1DFC6; 
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-family: 'Avenir-Medium';
  font-size:25px;
  color: white;
  border: double;
  border-width: 10px;
  text-decoration: none;
}

.button2:hover {
  background-color: #FC6F76; 
}

/* Quantity button for product page (original cinnamon)*/
.button3 {
  box-sizing: border-box;
  width: 60px;
  padding: 10px; 
  padding-left: 15px; 
  padding-right: 15px; 
  border: 3px solid #B7B7B7;
  font-family: 'Avenir-Medium';
  font-size:20px;
  margin-left:-3px;
}


/* Product page X text under images*/
.textUnderImages {
  box-sizing: border-box;
  width: 60px; 
  font-family: 'Avenir-Medium';
  font-size:20px;
  margin-left:-3px;
}

/* Shopping cart circle*/
.circleShoppingCart {
  font-family: 'Avenir-Medium';
  font-size: 20px;
  height: 25px;
  width: 25px;
  margin-top:-12px;
  margin-left:-31px;
  -moz-border-radius: 50%; /* or 50% */
  border-radius: 50%; /* or 50% */
  border:none;
  background-color: #A1DFC6;
  color: white;
  text-align: center;
}

.circleShoppingCart:hover {
  background-color: #FC6F76;
}

.button3:hover {
  background-color: #EFEFEF; 
}

.button4 {
  box-sizing: border-box;
  width: 60px;
  padding: 10px; 
  padding-left: 15px; 
  padding-right: 15px; 
  border: 3px solid #B7B7B7;
  font-family: 'Avenir-Medium';
  font-size:20px;
  margin-left:-3px;
}

/* AboutUs*/
.LaraJones {
  background-color: #FC6F76; 
  display: inline-block;
  color: white;
  border: double 20px;
  text-decoration: none;
}


/* Background color for homepage pink */
.hero-image2 {
  margin-top:-20px;
  background-color: #FCA9AE;
  height: 1150px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

/* Type for homepage pink */
.type2 {
  font-family: 'Avenir-Medium';
  font-size: 28px;
  text-align: center;
  color: #2B2B2B;  
  padding-top: 80px;
}


/* Balloon style */
.balloon-style {
  margin-left:60px;
  margin-top: -100px;
  margin-bottom:-23px;
}

/* Most Popular*/
.popular {
  font-family:'Avenir-Black';
  font-size: 15px;
  margin-left:140px;
  margin-top:-40px;
  margin-bottom:10px;
}

/* Flavor Hover state */
.container {
  position: relative;
  width: 27%;
  padding-top:20px;
  float:left;
  margin-left: 68px;
}

.image-flavor {
  display: block;
  width: 100%;
  height: auto;

}

.flavor-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.overlay {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E7DAB4;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: #2B2B2B;
  font-family:'Avenir-Medium';
  font-size: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  width:70%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}


/* Background color for homepage white */
.hero-image3 {
  margin-top:-20px;
  background-color: #FFFFFF;
  height: 550px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

/* Type 3 */
.type3 {
  font-family: 'Avenir-Medium';
  font-size: 24px;
  color: #2B2B2B;  
}


/* Padding for button under let us celebrate on homepage */
.padding3 {
  margin-left: 970px;
  float:left;
}


/* Balloon style */
.Streamers {
  margin-left:20px;
  margin-bottom:-23px;
}


/* Footer */
.botnav{
  background-color: #A1DFC6;
  overflow: hidden;
  font-family: 'Avenir-Medium';
  margin-top: -48px;

}

.botnav a {
  float: left; 
  color: #2B2B2B;
  margin-left: 20px;
  text-decoration: none;
  font-size: 20px;
  padding-top:60px;
}

.botnav2 {
    padding: 40px 10px;
}

/* Hover state */
.botnav a:hover{
  color: #FC6F76;
}



/* Padding for Original page*/
.paddingOriginal {
  padding-top: 150px;
  margin-left: 650px;
}

/* Yellow font*/
.type4{
  color: #E0A951;
  font-family: 'Avenir-Black';
  font-size:20px;
}

/* Box original page*/
.box {
  box-sizing: border-box;
  width: 300px;
  padding: 10px; 
  padding-left: 15px; 
  padding-right: 15px; 
  border: 3px solid #B7B7B7;
  font-family: 'Avenir-Medium';
  font-size:20px;
}

/* Product page pack*/
.pack {
  box-sizing: border-box;
  width: 300px;
  padding: 10px; 
  padding-left: 15px; 
  padding-right: 15px; 
  border: 3px solid #B7B7B7;
  font-family: 'Avenir-Medium';
  font-size:20px;
}


/* Original page- drop down*/
#dropBox {
  box-sizing: border-box;
  width: 300px;
  padding: 10px; 
  padding-left: 15px; 
  padding-right: 15px; 
  border: 3px solid #B7B7B7;
  font-family: 'Avenir-Medium';
  font-size:20px;
}

select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color:#2B2B2B;;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: white;
    cursor: default;
    margin: 0em;
    font-family: 'Avenir-Medium';
    font-size:15px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 166, 166);
    border-image: initial;
    border-radius: 0px;
}




/* Background Green for shopping Cart */
.hero-image5 {
  margin-top:-140px;
  background-color: #A1DFC6;
  width:820px;
  height: 1070px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

/* Type for homepage pink */
.type5 {
  font-family: 'Avenir-Medium';
  font-size: 28px;
  text-align: center;
  color: #2B2B2B;  
  padding-top: 80px;
}

/* tracking order spacing */
.tracking{
  margin-top:-100px;
  margin-bottom:-10px;
  margin-left:-200px;
}


/* Type for tracking page */
.type6 {
  font-family: 'Avenir-Medium';
  font-size: 24px;
  color: #2B2B2B;  
  margin-top:30px;
  margin-left:-200px;
}


.trackerImage {
  width: 300px;
  margin-left:450px;
  margin-top:100px;
}




/* Table For Shopping Cart */
table {
  border-collapse: collapse;
}

table, td, th {
  box-sizing: border-box;
  padding: 10px; 
  padding-left: 10px; 
  padding-right: 10px; 
  border: 3px solid #B7B7B7;
  font-family:'Avenir-Medium';
  font-color:#2B2B2B;
  font-size:20px;
}

/* For the No under pack size image */
.count2 {
  font-family:'Avenir-Medium';
  font-color:#2B2B2B;
  font-size:20px;
}

/* This code for radio button styling does not work :(); */

/* RadioButton*/
.radioClass {
  box-sizing: border-box;
  width: 60px;
  padding: 10px; 
  padding-left: 15px; 
  padding-right: 15px; 
  border: 3px solid #B7B7B7;
  font-family: 'Avenir-Medium';
  font-size:20px;
  margin-left:-3px;
}

#radio-toolbar {
  margin: 10px;
}

.radio-Class input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-toolbar label:hover {
  background-color: #dfd;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #444;
}



/* Cart starts here*/
.cart-info {
  border: 0.1rem solid var(--mainBlack);
  color: var(--mainBlack);
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}
.cart-info:hover {
  background: var(--mainPink);
  border-color: var(--mainPink);
  color: var(--mainWhite);
}
.cart-info:hover .cart-info__icon {
  color: var(--mainWhite);
}

.cart {
  position: absolute;
  min-height: 10rem;
  background: var(--mainWhite);
  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.5);
  width: 0;
  overflow: hidden;
}
.show-cart {
  width: 18rem;
  padding: 2rem 1.5rem;
  transform: rotateY(-360deg);
}


/* Avenir fonts*/
@font-face {
    font-family: 'Avenir-Light';
    src: url('../fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Avenir-Light.woff') format('woff'), 
        url('../fonts/Avenir-Light.ttf')  format('truetype'), 
        url('../fonts/Avenir-Light.svg#Avenir-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Avenir-Medium.woff') format('woff'),
        url('../fonts/Avenir-Medium.ttf')  format('truetype'),
        url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-Black';
    src: url('../fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Avenir-Black.woff') format('woff'), 
        url('../fonts/Avenir-Black.ttf')  format('truetype'), 
        url('../fonts/Avenir-Black.svg#Avenir-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-Heavy';
    src: url('../fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Avenir-Heavy.woff') format('woff'),
        url('../fonts/Avenir-Heavy.ttf')  format('truetype'),
        url('../fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-Book';
    src: url('../fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Book.woff') format('woff'), 
        url('../fonts/Avenir-Book.ttf')  format('truetype'), 
        url('../fonts/Avenir-Book.svg#Avenir-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}
