.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
      color: #2196F3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}


/* Removing margins for the body */
body{
  margin: 0px;
}

/* Top Navigation */
.topnav{
  background-color: #ffffff;
  overflow: hidden;
  border-bottom: 10px solid #FC6F76;
  font-family: 'Avenir-Medium';
}

.topnav a {
  float: left; 
  color: #2B2B2B;
  text-align: left;
  padding: 20px 10px;
  padding-bottom: 6px;
  margin-left: 40px;
  text-decoration: none;
  font-size: 22px;
}

/* Hover state */
.topnav a:hover{
  color: #FC6F76;
}

/* Active link*/
.topnav a.active{
  background-color: #ffffff;
  color: #2B2B2B;
  border-bottom: 10px solid #A1DFC6;
}

.topnav a.active2{
  background-color: #ffffff;
  color: #2B2B2B;
  border-bottom: 10px solid #A1DFC6;
  margin-top:38px;
}

.centernav{
  margin-top: 18px;
}

/* Active link*/
.cartonside {
  margin-top: 6px;
}

svg:hover {
  fill:#FC6F76;
}


/* No hover for glazing svg */
.noHover{
    pointer-events: none;
    color: #ffffff;
}

/* glazing */
#colorDiv {
  width: 270px;
  fill: None;
  padding-left:180px;
  margin-top:20px;
  margin-bottom:-240px;
  position:relative;
  opacity: 0.6;
}


/* Background image for homepage top */
.hero-image {
  background-image:url("img/BackgroundImage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 700px;
}


/* Type for homepage top part */
.type1{
  font-family: 'Stalemate', cursive;
  font-weight:1000;
  font-size: 50px;
  line-height:1.1;
  font-style:normal;
 fa trash color: #2B2B2B;
}

/* Padding for homepage text*/
.padding1 {
  padding-top: 90px;
  margin-left: 700px;
}

/* Padding for button on homepage */
.padding2 {
  margin-left: 700px;
}

/* Button 1: Pink turns green on hover*/

.button1{
  background-color: #FC6F76; 
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-family: 'Avenir-Medium';
  font-size:25px;
  color: white;
  border: double;
  border-width: 10px;
  text-decoration: none;
}

.button1:hover {
  background-color: #A1DFC6; 
}


/* Button 2: Green turns pink on hover*/

.button2{
  background-color: #A1DFC6; 
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-family: 'Avenir-Medium';
  font-size:25px;
  color: white;
  border: double;
  border-width: 10px;
  text-decoration: none;
}

.button2:hover {
  background-color: #FC6F76; 
}

/* Quantity button for product page (original cinnamon)*/
.button3 {
  box-sizing: border-box;
  width: 60px;
  padding: 10px; 
  padding-left: 15px; 
  padding-right: 15px; 
  border: 3px solid #B7B7B7;
  font-family: 'Avenir-Medium';
  font-size:20px;
  margin-left:-3px;
}


/* Product page X text under images*/
.textUnderImages {
  box-sizing: border-box;
  width: 60px; 
  font-family: 'Avenir-Medium';
  font-size:20px;
  margin-left:-3px;
}

/* Shopping cart circle*/
.circleShoppingCart {
  font-family: 'Avenir-Medium';
  font-size: 20px;
  height: 25px;
  width: 25px;
  margin-top:-12px;
  margin-left:-31px;
  -moz-border-radius: 50%; /* or 50% */
  border-radius: 50%; /* or 50% */
  border:none;
  background-color: #A1DFC6;
  color: black;
  text-align: center;
  transition: pop 0.3s linear 1;
}

.button3:hover {
  background-color: #EFEFEF; 
}

.button4 {
  box-sizing: border-box;
  width: 60px;
  padding: 10px; 
  padding-left: 15px; 
  padding-right: 15px; 
  border: 3px solid #B7B7B7;
  font-family: 'Avenir-Medium';
  font-size:20px;
  margin-left:-3px;
}

/* AboutUs*/
.LaraJones {
  background-color: #FC6F76; 
  display: inline-block;
  color: white;
  border: double 20px;
  text-decoration: none;
}


/* Background color for homepage pink */
.hero-image2 {
  margin-top:-20px;
  background-color: #FCA9AE;
  height: 1150px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

/* Type for homepage pink */
.type2 {
  font-family: 'Avenir-Medium';
  font-size: 28px;
  text-align: center;
  color: #2B2B2B;  
  padding-top: 80px;
}


/* Balloon style */
.balloon-style {
  margin-left:60px;
  margin-top: -100px;
  margin-bottom:-23px;
}

/* Most Popular*/
.popular {
  font-family:'Avenir-Black';
  font-size: 15px;
  margin-left:140px;
  margin-top:-40px;
  margin-bottom:10px;
}

/* Flavor Hover state */
.container {
  position: relative;
  width: 27%;
  padding-top:20px;
  float:left;
  margin-left: 68px;
}

.image-flavor {
  display: block;
  width: 100%;
  height: auto;

}

.flavor-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.overlay {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E7DAB4;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: #2B2B2B;
  font-family:'Avenir-Medium';
  font-size: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  width:70%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}


/* Background color for homepage white */
.hero-image3 {
  margin-top:-20px;
  background-color: #FFFFFF;
  height: 550px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

/* Type 3 */
.type3 {
  font-family: 'Avenir-Light';
  font-size: 24px;
  color: #2B2B2B;  
}


/* Padding for button under let us celebrate on homepage */
.padding3 {
  margin-left: 970px;
  float:left;
}


/* Balloon style */
.Streamers {
  margin-left:20px;
  margin-bottom:-23px;
}

/* Similarproducts */
.similarProducts{
  background-color: #F6898E;
  overflow: hidden;
  margin-top:-100px;
}

.carouselPadding {
  padding-bottom:40px;
}

/* Footer */
.botnav{
  background-color: #A1DFC6;
  overflow: hidden;
  font-family: 'Avenir-Medium';
  margin-top: -48px;

}

.botnav a {
  float: left; 
  color: #2B2B2B;
  margin-left: 20px;
  text-decoration: none;
  font-size: 20px;
  padding-top:60px;
}

.botnav2 {
    padding: 40px 10px;
}

/* Hover state */
.botnav a:hover{
  color: #FC6F76;
}



/* Padding for Original page*/
.paddingOriginal {
  padding-top: 150px;
  margin-left: 650px;
  margin-bottom:-200px;
}

/* Yellow font*/
.type4{
  color: #E0A951;
  font-family: 'Avenir-Black';
  font-size:20px;
}

/* Box original page*/
.box {
  box-sizing: border-box;
  width: 300px;
  padding: 10px; 
  padding-left: 15px; 
  padding-right: 15px; 
  border: 3px solid #B7B7B7;
  font-family: 'Avenir-Medium';
  font-size:20px;
}

/* Product page pack*/
.pack {
  box-sizing: border-box;
  width: 300px;
  padding: 10px; 
  padding-left: 15px; 
  padding-right: 15px; 
  border: 3px solid #B7B7B7;
  font-family: 'Avenir-Medium';
  font-size:20px;
}


/* Original page- drop down*/
#dropBox {
  box-sizing: border-box;
  width: 300px;
  padding: 10px; 
  padding-left: 15px; 
  padding-right: 15px; 
  border: 3px solid #B7B7B7;
  font-family: 'Avenir-Medium';
  font-size:20px;
  position:relative;
}




select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color:#2B2B2B;;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: white;
    cursor: default;
    margin: 0em;
    font-family: 'Avenir-Medium';
    font-size:15px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 166, 166);
    border-image: initial;
    border-radius: 0px;
}




/* Background Green for shopping Cart */
.hero-image5 {
  margin-top:-140px;
  background-color: #A1DFC6;
  width:820px;
  height: 1070px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

/* Type for homepage pink */
.type5 {
  font-family: 'Avenir-Medium';
  font-size: 28px;
  text-align: center;
  color: #2B2B2B;  
  padding-top: 80px;
}

/* tracking order spacing */
.tracking{
  margin-top:-100px;
  margin-bottom:-10px;
  margin-left:-200px;
}


/* Type for tracking page */
.type6 {
  font-family: 'Avenir-Medium';
  font-size: 24px;
  color: #2B2B2B;  
  margin-top:30px;
  margin-left:-200px;
}


.trackerImage {
  width: 300px;
  margin-left:450px;
  margin-top:100px;
}




/* Table For Shopping Cart */
table {
  border-collapse: collapse;
}

table, td, th {
  box-sizing: border-box;
  padding: 10px; 
  padding-left: 10px; 
  padding-right: 10px; 
  border: 3px solid #B7B7B7;
  font-family:'Avenir-Medium';
  font-color:#2B2B2B;
  font-size:20px;
  text-align: left;
}

/* For the No under pack size image */
.count2 {
  font-family:'Avenir-Medium';
  font-color:#2B2B2B;
  font-size:20px;
}

/* Green box around cart*/
.cart {
  position: absolute;
  height: 1091px;
  background: var(--mainWhite);
  top: 102px;
  right: 0;
  transition: all 0.3s ease-in-out;
  background: #A1DFC6;
  /* width when cart is closed*/
  width: 0;
  overflow: hidden;
}
.show-cart {
  /* width when cart is open*/
  width: 600px;
  padding: 2rem 1.5rem;
  transform: rotateY(-360deg);
}



.thumbnailForCart {
  /* width when cart is open*/
  width: 50px;
  padding: 20px;
}

/* end of cart */
/* cart item */
.cart-item-remove {
  color: var(--mainPink);
  transition: all 1s ease-in-out;
}
.cart-item-remove:hover {
  transform: scale(1.1);
  color: var(--mainBlack);
}
#cart-item-price {
  font-size: 0.8rem;
}


/* end of cart */


/* Carousel */

/* Avenir fonts*/
@font-face {
    font-family: 'Avenir-Light';
    src: url('../fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Avenir-Light.woff') format('woff'), 
        url('../fonts/Avenir-Light.ttf')  format('truetype'), 
        url('../fonts/Avenir-Light.svg#Avenir-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Avenir-Medium.woff') format('woff'),
        url('../fonts/Avenir-Medium.ttf')  format('truetype'),
        url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-Black';
    src: url('../fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Avenir-Black.woff') format('woff'), 
        url('../fonts/Avenir-Black.ttf')  format('truetype'), 
        url('../fonts/Avenir-Black.svg#Avenir-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-Heavy';
    src: url('../fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Avenir-Heavy.woff') format('woff'),
        url('../fonts/Avenir-Heavy.ttf')  format('truetype'),
        url('../fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-Book';
    src: url('../fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Book.woff') format('woff'), 
        url('../fonts/Avenir-Book.ttf')  format('truetype'), 
        url('../fonts/Avenir-Book.svg#Avenir-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}
